body
  padding 0
  margin 0
  box-sizing border-box
  font 14px/16px 'Helvetica Neue', 'Helvetica', Arial, sans-serif
  color #777  
  background #fafafa
  p 
    margin 0 0 24px 0
    padding 0
  a 
    color rgb(106,166,144)
  h1 
    font 36px/36px 'Helvetica Neue', 'Helvetica', Arial, sans-serif
    color rgb(242,144,87)
    font-weight bold
    
  h2 
    font 24px/28px 'Helvetica Neue', 'Helvetica', Arial, sans-serif
    margin 0
    padding 0
    font-weight bold
    
  header.main
    border-bottom 1px solid #eaeaea
    background #fefefe
    background-image -moz-linear-gradient(top,#fefefe,#f6f6f6)
    background-image -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f6f6f6))
    padding 6px 2.5% 6px 2.5%
    position fixed
    left 0
    right 0
    
    h1, p 
      display inline-block
      margin 0
      padding 0
      &.share 
        display block
        float right
        text-align right
    
  section
    float left
    width 47.5%
    margin 0
    
    &.workarea-wrapper
      padding 120px 0 24px 2.5%
      
  
    &.testarea-wrapper
      padding 120px 2.5% 24px 0
  
    div
      border 1px solid #eaeaea
      background #fff
      min-height 400px
      padding 24px
      cursor text
  
      &:focus
        outline none
    
      &.workarea
        border-top-left-radius 6px
        border-bottom-left-radius 6px
        font-family 'PTMono', monospace
        color black
        p 
          margin 0
          
        span.suggestion
          color #666
        
        span.comment
          color #ccc
          float right
          display inline-block
          width 60%
          text-align left
      
          &.warn
            color #884
      
      &.testarea
        border-top-right-radius 6px
        border-bottom-right-radius 6px
        border-left 0
      
        .match
          border 1px solid #cc2
          background #ffc
          border-radius 2px
        
  footer
    position fixed
    bottom 0
    left 0
    right 0
    clear both
    border-top 1px solid #eaeaea
    border-bottom 1px solid #ddd
    background #fefefe
    background-image -moz-linear-gradient(top,#fefefe,#efefef)
    background-image -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#efefef))  
    overflow hidden
    padding 0 2.5%
    ul, li
      list-style none
      display inline-block
      margin 0
      padding 0
    li 
      padding-right 12px
  
    nav
      float left
    
    address
      float right
      text-align right
          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
