body
  padding 0
  margin 0
  box-sizing border-box
  font 14px/16px 'Droid Sans', 'Helvetica', Arial, sans-serif
  color #EFF2F2
  background #645752

  #mainheader
    background #645752
    color #EFF2F2
    line-height 36px
    padding 0 2%
    
    h1 
      background url('/images/rexer-logo.png') left center no-repeat
      text-indent 48px
      margin 0
      margin-right 8px
      padding 0
      font-size 24px
      font-weight normal
      line-height 36px
      display inline-block
    a 
      color #EFF2F2
      text-decoration none
      
      &:hover 
        color #fff
      
      &.button
        color #EFF2F2
        text-decoration none
        display block
        float right
        background #CA5554
        border-radius 2px
        padding 0 18px
        margin-top 14px        
        &:hover 
          color #fff
          background #f36867

    p
      display inline-block
      color #cccbca
      
  #maincontent
  #mainarea 
    background #EFF2F2
    color #645752
    padding 12px 2%
    -webkit-column-count  2
    -moz-column-count  2
    column-count  2
    -webkit-column-gap  2%
    -moz-column-gap  2%
    column-gap  2%
    
    &:column
      background red
    

    section
      -webkit-column-break-after always
      -moz-column-break-after always
      column-break-after always
      
      
      &#workarea-section
        border-left 26px solid #CA5554
        border-top 1px solid #CA5554
        header
          background #CA5554
  
      &#testarea-section
        border-left 26px solid #BFB1A1
        border-top 1px solid #BFB1A1
        header
          background #BFB1A1
  

      & > div
        padding 12px

      header
        color #EFF2F2
        padding 6px 0px
        

      h2
        font-weight normal
        font-size 14px
        margin 0
        padding 0
     


  #mainfooter
    background #645752
    color #cccbca
    line-height 36px
    padding 0 2%
    
    a 
      color #EFF2F2
      text-decoration none
      
      &:hover 
        color #fff

    address
      display block    
      float right
      font-style normal
      color #CA5554
      
    menu
      display inline-block 
      margin 0
      padding 0
         
      li 
        display inline-block    
            
  .group:before
  .group:after 
    content ""
    display table
  
  .group:after
    clear both
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
