body
  padding 0
  margin 0
  box-sizing border-box
  font 14px/16px 'Droid Sans', 'Helvetica', Arial, sans-serif
  color #645752
  background #EFF2F2

  #mainheader
    background #645752
    color #EFF2F2
    line-height 36px
    padding 0 2%
    
    h1 
      background url('/images/rexer-logo.png') left center no-repeat;
      text-indent 48px
      margin 0
      margin-right 8px
      padding 0
      font-size 24px
      font-weight normal
      line-height 36px
      display inline-block
    a 
      color #EFF2F2
      text-decoration none
      
      &:hover 
        color #fff
    p
      display inline-block
      color #cccbca
      
      &.button
        display block
        float right
        background #CA5554
        border-radius 2px
        padding 0 18px

  #mainarea 
    min-height 500px

  #mainfooter
    background #645752
    color #cccbca
    line-height 36px
    padding 0 2%
    
    a 
      color #EFF2F2
      text-decoration none
      
      &:hover 
        color #fff

    address
      display block    
      float right
      font-style normal
      color #CA5554
      
    menu
      display inline-block 
      margin 0
      padding 0
         
      li 
        display inline-block    
            
  .group:before
  .group:after 
    content ""
    display table
  
  .group:after
    clear both
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
