body
  margin 0
  box-sizing border-box
  font-size 12px
  font-family 'PT Mono', monospace
  color #888
  background #f8f8f8 // url(/images/background-light.png)
  padding 20px

.outer
  background rgba(0, 0, 0, 0.1)
  padding 4px
  margin 0 20px 40px
  border-radius 4px

  .inner
    padding 20px
    border 1px solid rgba(0, 0, 0, 0.2)
    cursor text
    background #f8f8f8

    &:focus
      outline none

.columns
  overflow hidden

  > .left
  > .right
    float left
    width 50%

.testarea
  line-height 18px

  .match
    border 1px solid #cc2
    background #ffc
    border-radius 2px

  > p
    margin 0 0 10px

    &:last-child
      margin 0

.workspace
  line-height 18px

  span.suggestion
    color #ccc

  div, ol
    margin 0
    padding 0
    white-space pre

  .token
    &.comment
      color #ccc

      &.warn
        color #884

    &.group_start, &.group_end
      opacity 0.9

    &.char_group
      color #66a

    &.quantifier
      color #484
