$header-background-color = #645752
$header-text-color = #cccbca
$header-link-color = #eff2f2
$left-background-color = #ca5554
$right-background-color = #bfb1a1
$text-color = black
$background-color = #f8f8f8
$match-background = #ffc
$match-border = #cc2
$warn-color = #884
$comment-color = #ccc
$char-group-color = #44a
$escaped-char-color = #c44
$quantifier-color = #4a4
$group-color = rgba(0, 0, 0, 0.4)
$or-color = $group-color

body
  box-sizing border-box
  margin 0
  padding 0
  background $background-color
  font-family 'Helvetica Neue', Arial, sans-serif
  font-size 14px
  color $text-color

.main-header
.main-footer
  background $header-background-color
  color $header-text-color
  padding 20px
  overflow hidden

  h1
    background url('/images/rexer-logo.png') left center no-repeat
    text-transform lowercase
    font-weight 200
    margin 0
    padding 0 0 0 45px

  p
    text-transform lowercase
    margin 10px 0 0

  a
    color $header-link-color
    text-decoration none

    &:hover
      text-decoration underline

  menu
  address
    width 50%
    float left
  menu
    margin 0
    padding 0
    overflow hidden
    list-style none
    li
      margin 0 4px 0 0
      float left
  address
    text-align right
    font-style normal

.columns
  overflow hidden
  background $right-background-color

  > .left
  > .right
    float left
    width 50%

    header
      color white
      padding 20px 40px

      h3
        font-weight 200
        margin 0

  > .left
    background $left-background-color

.outer
  border-top-left-radius 4px
  padding 0 0 0 40px

  .inner
    padding 20px
    cursor text
    background white
    color $text-color
    line-height 18px
    font-size 12px
    font-family 'PT Mono', monospace

    &:focus
      outline none

.testarea

  .match
    border 1px solid $match-border
    background $match-background
    border-radius 2px

  div
    margin 0 0 10px

.workarea

  span.suggestion
    color $comment-color

  div, ol
    margin 0
    padding 0
    white-space pre

  .token
    &.comment
      color $comment-color

      &.warn
        color $warn-color

    &.group_start
    &.group_end
      color $group-color

    &.escaped_char
    &.special_char
    &.whitespace_char
      color $escaped-char-color

    &.or
      color $or-color

    &.char_group
      color $char-group-color

    &.quantifier
      color $quantifier-color
