$background-color = #645752
$header-text-color = #cccbca
$header-link-color = #eff2f2
$left-background-color = #ca5554
$right-background-color = #bfb1a1
$match-background = #ffc
$match-border = #cc2

body
  margin 0
  padding 0
  box-sizing border-box
  background $background-color
  font-family 'Helvetica Neue', Arial, sans-serif
  font-size 14px
  color black
  
.main-header
.main-footer
  color $header-text-color
  padding 20px
  overflow hidden

  h1
    background url('/images/rexer-logo.png') left center no-repeat
    text-transform lowercase
    font-weight 200
    margin 0
    padding 0 0 0 45px

  p
    text-transform lowercase
    margin 10px 0 0

  a
    color $header-link-color
    text-decoration none

    &:hover
      text-decoration underline

  menu
  address
    width 50%
    float left
  menu
    margin 0
    padding 0
    overflow hidden
    list-style none
    li
      margin 0 4px 0 0
      float left
  address
    text-align right
    font-style normal

.columns
  overflow hidden

  > .left
  > .right
    float left
    width 50%

    header
      color white

      a
        color white

      h3
        font-weight 200
        margin 0
        padding 20px 40px

      h4
        font-weight 200
        margin 0
        padding 8px 40px

    .CodeMirror
      background white
      font-size 12px
      font-family 'PT Mono', monospace
      line-height 18px

      .CodeMirror-scroll
        height auto
        overflow visible
        min-height 400px

      .CodeMirror-lines
        padding 10px

      .CodeMirror-gutter-text
        padding 10px

      .CodeMirror-matchhighlight
        background $match-background
        outline 1px solid $match-border

  > .left
    h3
      background $left-background-color

    h4
      background lighten($left-background-color, 60%)

    .CodeMirror
      border-right 1px solid #ccc

  > .right
    h3
      background $right-background-color

    h4
      background lighten($right-background-color, 60%)
